*{
	margin:  0;
	padding:  0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	background: #ffffff;
	color: #000000;
}
#header{
	width: 100%;
	height:130vh;
	background-size: cover;
	background-position: center;
}

.container{
	padding: 0 ;
	
}
/*-----------------------------NAVBAR-CSS--------------------------------------*/
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
  margin: auto;
  padding: 10px 60px 10px 10px;
  position: sticky; top: 0;
  background-color: white;
  z-index: 100;
    
}
.logo{
	width: 160px;
	display: flex;
  margin-left: 100px;
  margin-top: 10px;
}
nav .blue ul{
    background: #714da6;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}
nav ul li a{
	color: #000000;
	text-decoration: none;
	font-size: 18px;
	position: relative;
  line-height: 60px;
}
nav ul li a::after{
	content: '';
	width: 0;
	height: 3px;
	background: #7b52b9;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}

nav ul li a:hover::after{
	width: 100%;
}
nav a.active{
	border-bottom: 2px #7b52b9;
}
.cssbuttons-io-button {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  /*-----------------------------END OF NAVBAR-CSS--------------------------------------*/

  /*-----------------------------HEADER CARD--------------------------------------*/
  .card {
    position: relative;
    width: 100%;
    max-width: 1600px;
    height: 700px;
    background: #7b52b9;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
    margin-left: 120px;
    color: #ddc7ff;
  }
  .header-text{
	margin-top: 10%;
	font-size: 30px;
}
.card h1{
	font-size: 60px;
	margin-top: 20px;
}
.card h1 span{
	color: #fcb900;
}
  .card::before,
  .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    background-color: #d0b9f3;
    transition: all 0.5s;
    color: #fcb900;
  }
  
  .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .card:hover::before,
  .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .card:hover:after {
    content: "          Practiced graphic design and social media management, \autilizing my experience and knowledge in creating and executing\a successful social media campaigns,developing engaging content,\a and staying up to date with the latest trends. My goal is to increase\a brand awareness, and engagement while delivering exceptional\a results and exceeding goals for the company.";
    white-space: pre-wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  /*-----------------------------END OF HEADER CARD--------------------------------------*/
  .subtitle{
    color: #833ab4;
    margin-right: 200px;
  }
  .subtitle span{
    color: #fcb900;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
  }
  .grid-item {
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  .card4 {
    width: 650px;
    height: 354px;
    border-radius: 4px;
    background: #b3b6b6;
    display: flex;
    gap: 5px;
    padding: .4em;
  }
  
  .card4 p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #b3b6b6;
    border: 1px solid #7b52b9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
  }
  
  .card4 p:hover {
    flex: 4;
  }
  
  .card4 p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #0f1113;
    letter-spacing: .1em;
  }
  
  .card4 p:hover span {
    transform: rotate(0);
  }

.redes {
  width: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: fixed; /* Add fixed positioning */
  top: 50%; /* Adjust the vertical position */
  transform: translateY(-50%); /* Center the element vertically */
 /* Adjust the horizontal position */
}

.redes a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  transition: all 0.2s ease-in-out;
}

.redes a svg {
  width: 30px;
  fill: #ffffff;
}

.redes .discord {
  background-color: rgb(0, 60, 255);
  border-radius: 0 0 10px 0;
}

.redes .instagram {
  background: linear-gradient(45deg, #833ab4, #fd1d1d, #f56040);
  border-radius: 0 10px 0 0;
}

.redes .github {
  background-color: rgb(24, 22, 22);
}

.redes .twitter {
  background-color: #000000;
}

.redes .facebook {
  background-color: #006aff;
}

.redes a:hover {
  width: 130%;
  border-radius: 0 10px 10px 0;
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: #ffffff;
  border-top: 4px solid #7b52b9;
  z-index: 0;
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}
.btn1 {
  width: 140px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: #7b52b9;
  background: none;
  position: relative;
  padding-bottom: 2em;
  cursor: pointer;
  margin-left: 1630px;
  margin-bottom: 10px;
  font-weight: 600;
}

.btn1 > div,
.btn1 > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.btn1:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

.btn1:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn1 .clone > *,
.btn1 .text > * {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px;
}

.btn1 .clone > * {
  transform: translateY(60px);
}

.btn1:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btn1:hover .text > * {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btn1:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

.btn1:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

.btn1:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}

.btn1:hover .clone > :nth-child(4) {
  transition-delay: 0.3s;
}
/* icon style and hover */
.btn1 svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

.btn1:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}
@media (max-width: 768px) {
  .card {
    height: auto; 
    margin: 20px; 
    margin-left: auto;
    margin-right: auto;
  }
  
  .header-text {
    margin-top: 5%; 
    font-size: 24px; 
  }
  
  .card h1 {
    font-size: 40px; 
  }
  
  .card::before,
  .card::after {
    font-size: 20px; 
  }
}